.home-container {
  padding-top: 40vh !important;
  letter-spacing: .5rem;
}
.name {
  letter-spacing: .5rem;
}
.tagline {
  
}

.cached-exhibit-link {
  display: block;
  margin: auto;
  margin-top: 10rem;
  width: fit-content;
  text-decoration: none !important;
  border-bottom: solid 1px;
  padding-bottom: 0.4rem;
  padding-left: 0.4rem;
}

.ss-container {
  width: 40%;
}
.ss-elem {
  margin-top: 3rem;
}
.ss-img {
  margin-top: 0.5rem;
}
.ss-wide {
  width: 100%;
}
.ss-mid {
  width: 80%;
}
.ss-narrow {
  width: 60%
}

@media (max-width: 1400px) {
  .ss-container {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .ss-container {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .ss-container {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .ss-container {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .name {
    font-size: 2.5rem;
    letter-spacing: .4rem;
  }
  .tagline {
    font-size: 1rem;
    letter-spacing: .2rem;
  }
  .link-list {
    margin-top: 1rem !important;
  }
  .ss-container {
    width: 95%;
  }
}
