---
import Layout from "../layouts/Layout.astro";

const exhibits = [
  { title: "mark-beta", image: "/ss/mark-beta.jpg", size: "w-100" },
  { title: "king-of-kings", image: "/ss/king-of-kings.png", size: "w-75" },
  {
    title: "wedding-gift-economy",
    image: "/ss/wedding-gift-economy.jpg",
    size: "w-75",
  },
  {
    title: "tech-over-politics",
    image: "/ss/tech-over-politics.png",
    size: "w-75",
  },
  {
    title: "terminal-ai-helper",
    image: "/ss/terminal-ai-helper.png",
    size: "w-100",
  },
  {
    title: "height-in-dating-market",
    image: "/ss/height-in-dating-market.jpg",
    size: "w-75",
  },
  { title: "avada-kedavra", image: "/ss/avada-kedavra.jpg", size: "w-50" },
  { title: "rick-morty-gada", image: "/ss/rick-morty-gada.jpg", size: "w-50" },
  {
    title: "random-world-window",
    image: "/ss/random-world-window.png",
    size: "w-75",
  },
  {
    title: "spinoff-done-right",
    image: "/ss/spinoff-done-right.jpg",
    size: "w-100",
  },
  {
    title: "simple-to-complex-systems",
    image: "/ss/simple-to-complex-systems.png",
    size: "w-100",
  },
  { title: "gashole", image: "/ss/gashole.png", size: "w-100" },
  {
    title: "fund-movr-sbs-with-ps",
    image: "/ss/fund-movr-sbs-with-ps.png",
    size: "w-100",
  },
];
---

<Layout title="Cache - arth">
  <div class="container py-5" style="max-width: 800px;">
    <h2 class="text-uppercase text-center mb-5" style="letter-spacing: 0.1em;">
      Cache
    </h2>
    <div class="row justify-content-center">
      {
        exhibits.map(({ title, image, size }) => (
          <div class="col-12 mb-5">
            <div class="text-center">
              <div class="text-uppercase mb-2" style="letter-spacing: 0.1em;">
                {title}
              </div>
              <img
                class={`img-fluid rounded mx-auto d-block ${size}`}
                src={image}
                alt={title}
              />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
