---
import Layout from '../layouts/Layout.astro';
---

<Layout title="arth">
  <div class="container mx-auto max-w-3xl flex flex-col justify-center items-center px-4 min-h-[calc(100vh-116px)]">
    <h1 class="text-5xl uppercase font-light mb-4 -mr-[0.5em]">Arth  Patel</h1>
    <div class="text-xl uppercase text-text-muted -mr-[0.5em]">Observer | Tinker | Builder</div>
    <div class="flex justify-center space-x-6 mt-8">
      <a class="text-text-muted hover:text-accent-hover transition-colors" href="https://twitter.com/arthcp" target="_blank">
        <i class="fa fa-twitter fa-2x"></i>
      </a>
      <a class="text-text-muted hover:text-accent-hover transition-colors" href="https://www.linkedin.com/in/arthcp" target="_blank">
        <i class="fa fa-linkedin fa-2x"></i>
      </a>
      <a class="text-text-muted hover:text-accent-hover transition-colors" href="https://github.com/arthcp" target="_blank">
        <i class="fa fa-github fa-2x"></i>
      </a>
      <a class="text-text-muted hover:text-accent-hover transition-colors" href="https://t.me/arthcp" target="_blank">
        <i class="fa fa-telegram fa-2x"></i>
      </a>
    </div>
  </div>
</Layout>
