---
import "../styles/base.css";

interface Props {
  title: string;
}

const { title } = Astro.props;

const navItems = [
  { title: "Blog", href: "/blog" },
  { title: "Cache", href: "/cache" },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      src="https://kit.fontawesome.com/93902711a7.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <div class="container mx-auto max-w-3xl">
        <div class="flex items-center justify-between p-8">
          <a
            href="/"
            class="text-lg uppercase tracking-wider hover:text-accent-hover transition-colors"
          >
            arth
          </a>
          <div class="flex items-center space-x-6">
            {
              navItems.map(({ title, href }) => (
                <a
                  class={`uppercase tracking-wider hover:text-accent-hover transition-colors ${
                    Astro.url.pathname === href
                      ? "text-accent"
                      : "text-text-muted"
                  }`}
                  href={href}
                >
                  {title}
                </a>
              ))
            }
          </div>
        </div>
        <div class="h-px bg-accent mb-3 w-full"></div>
      </div>
    </nav>
    <slot />
  </body>
</html>
